*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  
  font: 'Roboto';
  overflow-y: hidden;
}

body{
  top: 0;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  position: relative;

}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px ;
  height: 42px;
  width: 500px;
  margin-left: 72px;
  padding-top: 50px;
}
a{
  text-decoration: none;
  color: white;
  padding: 0px 10.8333px;;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

}

a:hover{
  font-weight: 700;
}

main{
  position:absolute; 
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

h1{
  font-size: 48px;
  line-height: 60px;
  width: 399px;
}
button{
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 24px;
  padding: 12px 32px;
  text-transform: uppercase;
}
button a{
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
button:hover{
  background: white;
}

button:hover a{
  color: black;
}
/*segunda página*/
.container{
  margin-top: 103px;
  margin-left: 102px;
  width: calc(50% - 102px);
}
h2{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
p{
  line-height: 160%;
  font-size: 18px;
}

#error{
  width: 100vw;
  height: 100vh;
}
